<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers</title>
</head>
<body>

    <h1>List Farmers</h1>

    <table border="1px">

        <a href="/farmers/addFarmer">
            <button type="submit">Add Farmer</button>
        </a>

        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
             
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.rating %></td>
                    <td>
                        <a href="/farmers/<%= el.id %>/addProduct">
                            <button type="submit">Add Products</button>
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>