<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <h1>Login to Disayurin</h1>
  <form action="/login" method="post">

    <p>
      Username<br>
      <input type="text" name="username">
    </p>

    <p>
      password <br>
      <input type="password" name="password">
    </p>

    <p>
      <a href="">
        <button type="submit">Login</button>
      </a>
    </p>
  </form>
  <a href="/register">
    <button type="submit">Register</button>
  </a>



</body>

</html>