<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <h1><%= data[0].name %></h1>
    <h2><%= data[0].price %></h2>
    <h3><%= data[0].img %></h3>
    <h4><%= data[0].description %></h4>
</body>
</html>